[id="main"]
  text-align: center
  background-color: white
  margin: 20px
  .main-header
    min-height: 25vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    font-size: calc(10px + 2vmin)

  .main-link
    color: #61dafb
  .search-wrapper
    .search-input
      width: 33vw
      min-width: 150px
      font-size: 2vmin
      outline: none
      border-radius: 30px
      border: 1px solid #e1e1e1
      transition: all .25s ease-in-out
      padding: .7em 1.4em
      &:hover
        box-shadow: 0 0 0 1px #c2c2c2

  [id="results"]
    color: dark